﻿@model CmsWebApi.Models.ViewModels.PageRelatedPagesViewModel

@{
    ViewData["Title"] = "Add Related Pages";
}

<h2>Add Related Pages</h2>
<br>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Page.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Page.UrlName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.UrlName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Page.AddedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.AddedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Page.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Page.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Page.Content)
        </dt>
        <dd>
            <textarea class="htmlContent">
                @Html.DisplayFor(model => model.Page.Content)
            </textarea>
        </dd>
    </dl>
    <hr />
    <h3>Check the pages, which are related to the page above</h3>
    <div class="alert" id="feedback" style="display:none"></div>
</div>
<div>
    <hr />
    <input type="hidden" id="page" value="@(Model.Page.Id)" />
    @for (var i = 0; i < Model.RelatedPages.Count(); ++i)
    {
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div name="related" id="@(Model.RelatedPages.ElementAt(i).Page.Id)">
                    @Html.CheckBoxFor(m => Model.RelatedPages.ElementAt(i).IsRelated, Model.RelatedPages.ElementAt(i).IsRelated)
                </div>
                @Html.Label(Model.RelatedPages.ElementAt(i).Page.Title)
                <p>@(Model.RelatedPages.ElementAt(i).Page.Description)</p>
            </div>
        </div>
    }

    <input type="button" value="Save" class="btn btn-default" id="save-related" />
</div>

<div>
    <a asp-controller="Pages" asp-action="Index">Back to List of Pages</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
